.git
.gitignore
.env
.env.example
node_modules/
vendor/
storage/
public/build
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.dockerignore
Dockerfile
docker-compose.yml
README.md
SETUP.md
phpunit.xml
*.md
tests/
